<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body style="background-color: gray">
<div style="background-color: brown"> <h1 style="color: white">Products Add Update Delete Read </h1> </div>
<div style="background-color: tan">
    <pre style="color: white">
        <h2>
        Website Owner : Saif Ahmed<br>
        Age           : 23<br>
        Build the Site: 20 March , 2024
        </h2>
    </pre>
</div>
<span style="background-color: garden green"><h1><a href="{% url 'second' %}">Productlist</a></h1></span>

</body>
</html>